.List {
  background: #6F0FBD;;
  flex-shrink: 0;
  /* width: 272px; */
  /* width: 13%;
    float: left; */
  /* height:auto; */
  margin: 1px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.List-Title {
  cursor: pointer;
  padding: 10px;
  overflow-wrap: break-word;
  color: #fff;
  font-weight: 600;
}

.Toggle-Add-Card {
  cursor: pointer;
  padding: 10px;
  color: #fff;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
}

.Toggle-Add-Card:hover {
  background-color: rgba(9, 45, 66, 0.13);
  color: #17394d;
  text-decoration: underline;
}

.Toggle-Add-Card ion-icon {
  margin-right: 2px;
}
.custmSevenCol {
  max-width: 14.10%;
  padding-left: 5px;
  padding-right: 5px;
  margin: 1px !important;
  height: auto !important;
}
.padding-10 {
  padding: 10px;
}
.Lists-Cards {
  flex-flow: wrap;
  display: flex;
}
.sceduleimg {
  text-align: center;
}

@media (max-width: 1024px) {
  .custmSevenCol {
    max-width: 100%;
  }
}